<h2>Order History</h2>
<table>
  <tr>
    <th>order number</th>
    <th>order date</th>
    <th>ordered art</th>
    <th>artist</th>
  </tr>

    <% current_client.ordered_arts.each do |a|%>
    <tr>
    <td> <%= a.id%> </td>
    <td> <%= a.created_at.strftime('%a, %B %d, %Y')%> </td>
    <td> <%= Art.find_by(id: a.art_id).title %> </td>
    <td> <%= Art.find_by(id: a.art_id).artist.fullname %> </td>
    </tr>
    <%end%>

</table>
