<h1>Artists </h1>
<% @artists.each do |artist| %>
  <div class="card">
    <%= image_tag(artist.pro_pic_url, :size => "200x200") %>

    <h3><%=link_to artist.fullname, artist_path(artist.id) %></h3>
    <br>
  </div>
  <%end%>
