<h1>New Artist</h1>

<div class="" id="error_explanation">
<ul>

<% if @artist.errors.any? %>
<h2><%=pluralize(@artist.errors.count, "error") %> prohibited from being saved:</h2>
  <% @artist.errors.full_messages.each do |err| %>
  <li><%= err %></li>
  <% end %>
  </ul>
  </div>
<% end %>

<%= render 'form' %>
