<h3>Here is our Story</h3>
<br>
<br>

<p id="about">
  "We sell art that changes lives. Art that awakens our imagination, transforms
  our homes and expresses who we really are. At ArtMe we’re building a world
  where artists can make a living doing what they love. Where anyone can easily
  find and buy original art, no matter their taste or budget."
</p>
<br>
  <p id= "about">
  "Whether you’re an art lover or art curious, we connect you directly with
    independent artists around the world. Every single piece is original and
    signed by the artist, carrying its own unique story."
  </p>

  <br>

  <p id="about">
"We founded Artfinder because artists exist everywhere - as do people who value
authentic, handmade works of art. We believe in ‘made to last,’ in ethical
production, in building a business that makes all of our lives better by
supporting creativity in communities around the world."
  </p>
