<h2>Welcome Index</h2>
<br>
<h3>Featured Artists</h3>
<% @artists.each do  %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<% end %>

<br>
<h3>Featured Arts</h3>

<% @arts.each do |a|%>
<div class="row">
  <div class="column">
    <p><%= image_tag("https://cdn4.iconfinder.com/data/icons/flat-icon-set/2133/flat_icons-graficheria.it-09.png", :size => "200x200") %></p>
    <p><%=link_to a.title, a%></p>
    <p><%= a.artist.fullname%></p>
  </div>

<% end %>
