


<h1>Arts</h1>

<% @arts.each do |a|%>
<img src="<%= a.img_url %>" alt="">
<h2><%=link_to a.title, a %></h2>
<h3><%= a.price %></h3>
<h3><%= link_to a.artist.fullname, artist_path(a.artist.id) %></h3>

  <%end%>
