/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

h1 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
}

#logo {
 color: orange;
 text-align: center;
 font-size: 88px;
 font-style: bold;
 font-family: Braggadocio;

}


body {
background: lightblue;
font-family: "Trebuchet MS", Helvetica, sans-serif;
}


p {
 font-size: 20px;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #015C78;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

li {
 float: left;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

li a {
 display: block;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 font-family: "Trebuchet MS", Helvetica, sans-serif;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
 background-color: #111;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.login-nav {
 list-style-type: none;
 float: right;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #015C78;
 text-align: center;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#login{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #015C78;
 font-family: "Trebuchet MS", Helvetica, sans-serif;
}



.column {
 display: flex;
 flex-wrap: wrap-reverse;
 padding: 0 20px;
}

/* Create two equal columns that sits next to each other */


.column img {
 margin-top: 8px;
 vertical-align: middle;
}
