/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#logo {
  color: orange;
  text-align: center;
  font-size: 88px;
  font-style: bold;
  font-family: Braggadocio
}


 body {
  background-image: linear-gradient(lightblue, white);
}


p {
  font-family: verdana;
  font-size: 20px;
}

 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #015C78;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

#login{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #015C78;
}
#featured-arts{
  display: grid;
  grid-template-columns: repear(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  image-orientation: center;
}


.row {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 0 20px;

}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 0 4px;

}

.column img {
  margin-top: 8px;
  vertical-align: middle;

}
