 // Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  display: inline-grid;
  text-align: center;
  margin: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}

a:link {
  text-decoration: none;
  color: #015C78;
}
#artist_email {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}

#artist_first_name {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
#artist_last_name {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
#artist_password {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
#artist_password_confirmation {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
#artist_location {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}

#artist_bio {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}

#artist_pro_pic_url {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
