// Place all the styles related to the Artists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  display: inline-grid;
  text-align: center;
  margin: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}

a:link {
  text-decoration: none;
  color: #015C78;
}
