// Place all the styles related to the Arts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  display: inline-grid;
  text-align: center;
  margin: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 8px;
  font-size: 15px;

}

a:link {
  text-decoration: none;
  color: #015C78;
  text-align: center;
}

br {
  text-align: center;
}

#search {
  float: right;
  font-size: 20px;
  border: 2px solid #555;
  margin-top: 5px;

}

#search_button {
  float: right;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #015C78;
  border-radius: 5px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

  height: 36px;
  padding-bottom: 10px;
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 8px;
}
#art_title {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
#art_descrption {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
#art_price {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
#art_est_date {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
#art_time_required {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
#art_img_url {

  display: block;
  font-size: 20px;
  clear: both;
  // margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
