// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#login {

  font-size: 20px;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #015C78;
  border-radius: 5px;
  box-shadow: 0 3px #999;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  width: 40%;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

#email {

  display: block;
  font-size: 20px;
  clear: both;
  margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
  font-family: "Trebuchet MS", Helvetica, sans-serif;

}
#password {
  display: block;
  font-size: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  clear: both;
  margin: 8px 0;
  border-radius: 4px;
  border: 3px solid #555;
}
